/* Global styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Ubuntu', sans-serif;
}
.container {
    width: 100%;
}
img {
    width: 100%;
}
.logo {
    text-align: center;
}
.logo img {
    width: 10%;
}
ul {
    display: flex;
    justify-content: center;
}
li a {
    font-size: 1rem;
    margin: 2rem;
}
/* section 1*/
.container-fluid {
    padding: 0 3rem;
}
.content h1 {
    width: 60%;
    padding-top: 5rem;
    margin: 0 auto;
    text-align: center;
    font-size: 6rem;
    color: dodgerblue;
    text-transform: uppercase;
}
.text h2 {
    padding: 2rem 0 2rem 0;
}
.text p  {
    line-height: 1.6rem;
}
.image {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 2rem 0;
}
.animal-img {
    padding: 2rem 0 2rem 0;
    width: 50%;
} 
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contain8 {
    padding: 2rem 0 2rem 0;
}
.seas p {
    line-height: 1.6rem;
}
.ocean-txt h3 {
    padding: 2rem 0 1rem 0;
}
.ocean-txt p {
    line-height: 1.6rem;
}
.footer {
    text-align: center;
}
.footer p:hover {
    color: grey;
    transition: 500ms;
}
.footer a:hover {
    color: grey;
    transition: 500ms;
}

/* mobile view */
@media screen and (min-width:280px) {
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .nav-brand {
        width: 10%;
        font-size: 2rem;
        font-weight: 100;
    }
    .nav-brand a {
        color: #fff;
    }
    .container-fluid {
        padding: 0 1rem;
    }
    .content h1 {
        width: 100%;
        padding-top: 8rem;
        text-align: center;
        font-size: 3.5rem;
        color: dodgerblue;
    }    
    .image {
        flex-direction: column;
    }   
    .view {
        padding-bottom: 2rem;
    } 
    .animal-img {
        width: 100%;
    } 
    
}

@media screen and (min-width:700px) {
    .container-fluid {
        padding: 0 3rem;
    }
    .image {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0 2rem 0;
        flex-direction: row;
    }
    .animal-img {
        width: 50%;
    } 
    
}
